@import ../../../styles/base/vars

.card:hover
    cursor: pointer

.cardImage
    width: 100%
    height: 200px
    opject-fit: cover
    overflow: hidden
    border-radius: 1rem

.highlight
    padding: 0.3rem 1rem
    border-radius: 1rem
    width: fit-content
    font-weight: bold

.row
    display: flex
    flex-direction: row
    flex-wrap: wrap
    width: 100%

.row > .highlight
    margin: 0.5rem

.marginSides
    margin: 0.5rem